/* .App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  padding: 16px;
}

.App-link {
  color: #61dafb;
}

a {
  color: #09f;
  font-size: 32px;
} */
